/* GLOBALS*/

body {
  font-family: $font-family-sans-serif;
  color: #fff;
  font-size: 25px;
  font-weight: normal;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

.red {
  color: $brand-primary
}

h1 {
  text-transform: uppercase;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  vertical-align: baseline;
  margin: 0 0 20px;
  padding: 50px 0 0;
}

h2 {
  text-transform: uppercase;
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

h3 {
  text-transform: uppercase;
  font-style: normal;
  font-size: 16px;
  font-weight: 600;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

h1.site-title, p.site-title a {
  text-transform: uppercase;
  font-size: 20px;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 100;
  letter-spacing: 3px;
}

p.site-title {
  line-height: 1;
  margin: 0;
}

p.site-description {
  font-size: 16px;
}

a {
  color: $brand-primary;
  text-decoration: none;
}

a:hover {
  color: $brand-primary;
  text-decoration: none;
}

a,
a:visited,
a:active {
  color: $brand-primary;
  text-decoration: none;
  outline: none;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -khtml-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:hover {
  color: $brand-primary;
  text-decoration: none;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -khtml-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.hidden {
  display: none !important;
}

.superscript {
  font-size: 50%;
  vertical-align: super;
}

.sans-serif {
  font-family: $font-family-sans-serif;
}

.serif {
  font-family: $font-family-sans-serif;
}

.text-center {
  text-align: center;
}

p {
  font-size: 22px;
  margin: 0 0 20px;
  line-height: 1.65;
}

p.lead {
  font-size: 32px;
}

p.medium {
  font-size: 18px;
  line-height: 1.45;
}

p.small {
  font-size: 15px;
  line-height: 1.45;
}

a.btn {
  display: block;
  max-width: 250px;
  border-radius: 4px;
  font-family: $font-family-sans-serif;
  color: #fff;
  background-color: $brand-primary;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 0 auto 50px;
  line-height: 1;
  padding: 10px 30px;
}


a.btn-small {
  display: block;
  max-width: 150px;
  border-radius: 4px;
  font-family: $font-family-sans-serif;
  color: #fff;
  background-color: $brand-primary;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  margin: 0 auto 50px;
  line-height: 1;
  padding: 10px 30px;
}


/* UTILITIES*/

.no-scroll {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%
}

.content-wrapper {
  ul {
    margin: 20px 30px;
    font-size: 22px;
    line-height: 1.65;
    li {
      margin-bottom: 5px;
    }
  }

}


/* TABLES */

table.black-borders {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;

  th {
    border: 1px solid black;
    padding: 10px 10px 2px;
    font-size: 20px;
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    vertical-align: middle;
  }
  td {
    padding: 3px 10px 2px;
    border: 1px solid black;
    font-size: 20px;
    font-family: $font-family-serif;
    vertical-align: middle;
    width: 75%;
  }

}
