wp-admin
wp-content/upgrade
wp-content/ai1wm-backups
wp-config.php
web.config
wp-content/cache
wp-content/w3tc-config
wp-content/uploads

wp-content/plugins/*
!wp-content/plugins/acf-custom-presentation/*

wp-includes
wp-content/themes/twenty*
wp-content/themes/index.php
wp-content/advanced-cache.php
wp-content/index.php

node_modules

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so
*.mp3
*.mp4
*.mov

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.wpress
# .gitignore
.idea/
/index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
aspnet_client/

wflogs


