/* HEADER LOGO*/


.container-brand {
  .site-logo-link {
    color: inherit;
    display: block;
    text-align: left;
  }

  .site-logo-link:hover {
    color: inherit
  }

  img.brand-logo {
    width: 200px;
    height: auto;
  }
}




