
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
  tr {
    th, td {
      padding: 10px;
      font-size: 12px;
    }
  }
}

table.striped tr:nth-child(even) {
  background-color: #222;
}



